/* extra.css */

.center {
    display: block;
    margin: 0 auto;
}

/* nervosys: light mode */
[data-md-color-scheme="nervosys_light"] {

    /* primary color shades */
    /* violet: #5000cd, magenta: #ff008a, seafoam: #00ffcd */
    --md-primary-fg-color: #5000cd;
    --md-primary-fg-color--light: #ff008a;
    --md-default-bg-color: #ffffff;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsl(0, 0%, 100%);
    --md-text-link-color: hsla(168, 100%, 50%, 1);

    /* accent color shades */
    --md-accent-fg-color: rgb(80, 0, 205);
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
}

[data-md-color-scheme="nervosys_light"] > * {
  
    /* code block color shades */
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);

    /* footer */
    --md-footer-bg-color: #861f41;
    --md-footer-bg-color--light: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
}

/* nervosys: dark mode */
[data-md-color-scheme="nervosys_dark"] {

    /* primary color shades */
    --md-primary-fg-color: #ff008a;
    --md-primary-fg-color--dark: #00ffcd;
    --md-default-bg-color: #000000;
    --md-primary-bg-color: hsl(0, 0%, 0%);
    --md-primary-bg-color--dark: hsl(0, 0%, 0%);
    --md-text-link-color: hsla(168, 100%, 50%, 1);

    /* accent color shades */
    --md-accent-fg-color: rgb(80, 0, 205);
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.9);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--dark: hsla(0, 0%, 100%, 0.7);
}

[data-md-color-scheme="nervosys_dark"] > * {
  
    /* code block color shades */
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);

    /* footer */
    --md-footer-bg-color: #861f41;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--dark: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--darker: hsla(0, 0%, 100%, 0.3);
}
